:root {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #066f2f;
  --maxGridWidth: 90vw;
  --header-bg: #53bc7c;
  --header-text: #EBFFFF;
  --hud-color:#B9FFE2;
  --hud-text: #222;
  --cell-color: #eaeaea;
  --cell-text-color: #212;
  --green: #30c209;
  --yellow: #FFCC03;
  --selected: #f01;
}

h1 {
  margin: 0;
  color: var(--header-text);
  text-align: center;
  background: var(--header-bg);
  padding: 0.4em;
}

.game-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hud {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--hud-color);
  color: var(--hud-text);
  box-shadow: 15px 0px 15px #000c;
}

.hud h3, .hud h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #333;
}

.banner * {
  color: white;
  text-align: center;
  margin: 0.35em 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.35em;
}

.grid {
  display: grid;
  max-width: var(--maxGridWidth);
  gap: 3px 3px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  background: #0005;
  box-shadow: 0px 20px 20px #000c;
  margin-top: 0.35em;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  background: var(--cell-color);
  border: 8px ridge var(--cell-color);
  border-radius: 5px;
  color: var(--cell-text-color);
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 0.05em 0.15em;
  transition: all 0.2s ease-out;
  font-weight: bold;
  font-size: 2.5em;
}

.btn:active {
  transform: translateY(2px);
  background: var(--selected);
}

.skip-btn {
  grid-column: 1/3;
}

.guess-btn {
  grid-column: 3/6;
}

.hidden { visibility: hidden; }
.dn { display: none; }

/* order matters!!! */  
.yellow { background: var(--yellow); border: 8px ridge var(--yellow)}
.green { background: var(--green); border: 8px ridge var(--green)}
.selected { border: 8px solid var(--selected); }

.cyan-text { color: cyan }
.yellow-text { color: #fcff82 }