:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --maxGridWidth: 90vw;
  --header-text: #EBFFFF;
  --hud-color:#B9FFE2;
  --hud-text: #222;
  --cell-color: #eaeaea;
  --cell-text-color: #212;
  --green: hsl(110, 100%, 40%);
  --yellow: hsl(45, 100%, 50%);
  --orange: hsl(25, 100%, 50%);
  --selected: hsl(350, 100%, 50%);
  --burn: hsl(0, 0%, 20%);
  --hint: hsl(160, 100%, 50%);
  --e-dark: hsla(180, 90%, 15%, 1);
  --e-medium: hsla(180, 90%, 25%, 1);
  --e-light: hsla(180, 45%, 50%, 1);
  --n-dark: hsla(140, 90%, 15%, 1);
  --n-medium: hsla(140, 90%, 25%, 1);
  --n-light: hsla(140, 45%, 50%, 1);
  --h-dark: hsla(220, 90%, 15%, 1);
  --h-medium: hsla(220, 90%, 25%, 1);
  --h-light: hsla(220, 45%, 50%, 1);
  --skip-btn: hsla(15, 80%, 60%);
  --burn-btn: hsla(35, 80%, 60%);
  --hint-btn: hsla(55, 80%, 60%);
  --guess-btn: hsla(75, 80%, 60%);
}

:root * {
  box-sizing: border-box;
  margin: 0;
}

.easy.very-top { background: var(--e-dark); color: var(--e-light) }
.easy.hud { background: var(--e-dark); border-bottom: 1px solid var(--e-light); }
.easy-bg { background: var(--e-medium) }
.normal.very-top { background: var(--n-dark); color: var(--n-light) }
.normal.hud { background: var(--n-dark); border-bottom: 1px solid var(--n-light); }
.normal-bg { background: var(--n-medium) }
.hard.very-top { background: var(--h-dark); color: var(--h-light) }
.hard.hud { background: var(--h-dark); border-bottom: 1px solid var(--h-light); }
.hard-bg { background: var(--h-medium) }

h1, h2, h3, h4, h5, h6, p { color: #fff; }

.view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-view,
.hs-view {
  justify-content: center;
  align-items: center;
}

.menu-view *,
.hs-view *,
.rules-view * {
  margin-top: .75em;
}

.rules-view { align-items: center; }
.text-center { text-align: center; }
.text-box {
  width: calc(100% - 1.5em);
}

.menu-btn {
  color: #fff;
  outline: 1px solid white;
  padding: .4em;
  box-shadow: 0 0.25em #000c;
  user-select: none;
}

.menu-btn:hover { cursor: pointer; }

.menu-btn:active {
  background: white;
  color: #ccc;
  transform: translateY(.25em);
  box-shadow: 0 0.25em #000c;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.difficulty * {
  display: flex;
  margin-top: 0.25em;
}

.selected-btn {
  background-color: #efefef;
  color: #444 !important;
}

.very-top {
  display: flex;
  justify-content: space-between;
  font-variant: small-caps;
}

.very-top * {
  margin: 0;
  padding: .35em .35em 0;
}

.very-top *:active { color: white; }

.hud {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px #0002;
  color: #fcfcfc;
}

.hud h3, .hud h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5em;
}

.banner {
  padding: .75em 0;
  width: 100%;
}

.banner * {
  color: white;
  text-align: center;
  padding: 0.15em 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.35em;
}

.grid {
  display: grid;
  max-width: var(--maxGridWidth);
  gap: 4px 3px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  background: #222d;
  box-shadow: 0px 0.75em .75em #0007;
  margin-top: 0.35em;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell,
.demo-cell {
  background: var(--cell-color);
  border: 7px ridge var(--cell-color);
  border-radius: 5px;
  color: var(--cell-text-color);
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 0.05em 0.15em;
  transition: all 25ms linear;
  font-weight: bold;
  font-size: 2.5em;
}

.game-btn:hover,
.very-top span:hover {
  cursor: pointer;
}

.game-btn:active {
  transform: translateY(4px);
  background: #efefef;
}

.game-btn {
  text-align: center;
  padding: .65em 0;
  border-radius: 3px;
  color: #111;
}

.skip-btn { background: var(--skip-btn); }
.burn-btn { background: var(--burn-btn); }
.hint-btn { background: var(--hint-btn); }

.guess-btn {
  background: var(--guess-btn);
  grid-column: 4/6;
} 

.game-btn.disabled { pointer-events: none; background-color: #aaa;}
.hidden { visibility: hidden; }
.display-none { display: none; }

/* order matters!!! */  
.burn { background: var(--burn); border: 7px ridge var(--burn); color: #888}
.orange { background: var(--orange); border: 7px ridge var(--orange); }
.hint { background: var(--hint); border: 7px ridge var(--hint); }
.yellow { background: var(--yellow); border: 7px ridge var(--yellow); }
.green { background: var(--green); border: 7px ridge var(--green);}
.orange.hint {
  background-image: linear-gradient(
  var(--orange), var(--hint)
  );
  border: 7px ridge var(--orange);
}
.yellow.hint {
  background-image: linear-gradient(
  var(--yellow), var(--hint)
  );
  border: 7px ridge var(--yellow);
}
.green.hint {
  background-image: linear-gradient(
  var(--green), var(--hint)
  );
  border: 7px ridge var(--green);
}
.selected { border: 7px solid var(--selected) !important; }

.cyan-text { color: cyan }
.yellow-text { color: #fcff82 }

.w-auto {width: auto;}
.w-20 { width: 20%; }
.w-50 { width: 50%; }
.bottomline-gray {
  width: 100%;
  border-bottom: 1.1px solid #dbdbdb;
}