/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root {
  background: lightslategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --green: #228B22;
  --yellow: #FFCC03;
}

:root * {
  margin: 0;
}

h1 {
  text-align: center;
  background: coral;
  padding: 1em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (18vw)[5];
  grid-template-columns: repeat(5, 18vw);
  margin: 1.5em 0;
}

.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18vw;
  border: 1px inset #555;
}

.cell {
  background: #eaeaea;
  border: 3px inset #eaeaea;
  color: #234;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px #222a;
          box-shadow: 2px 2px #222a;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  background: cyan;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1.25em;
  background-color: #ccc;
}


/* order matters!!! */
  
.yellow { background: var(--yellow); border: 5px ridge var(--yellow)}
.green { background: var(--green); border: 5px ridge var(--green)}
.selected { border: 10px outset red; }

.dragging, .dragover {
  width: 80%;
  height: 80%;
}