.grid {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  gap: 3px;
  background-color: hsl(0, 0%, 67%);
  grid-template-areas: 
    'i0   i1  i2  i3  i4'
    'i5   i6  i7  i8  i9'
    'i10  i11 i12 i13 i14'
    'i15  i16 i17 i18 i19'
    'i20  i21 i22 i23 i24';
}

.grid-item {
  animation: all 2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 60px;
}

.grid-item:hover {
  animation: all 2s ease-out;
  background-color: coral;
}

.g-index0  { grid-area: i0;  }
.g-index1  { grid-area: i1;  }
.g-index2  { grid-area: i2;  }
.g-index3  { grid-area: i3;  }
.g-index4  { grid-area: i4;  }
.g-index5  { grid-area: i5;  }
.g-index6  { grid-area: i6;  }
.g-index7  { grid-area: i7;  }
.g-index8  { grid-area: i8;  }
.g-index9  { grid-area: i9;  }
.g-index10 { grid-area: i10; }
.g-index11 { grid-area: i11; }
.g-index12 { grid-area: i12; }
.g-index13 { grid-area: i13; }
.g-index14 { grid-area: i14; }
.g-index15 { grid-area: i15; }
.g-index16 { grid-area: i16; }
.g-index17 { grid-area: i17; }
.g-index18 { grid-area: i18; }
.g-index19 { grid-area: i19; }
.g-index20 { grid-area: i20; }
.g-index21 { grid-area: i21; }
.g-index22 { grid-area: i22; }
.g-index23 { grid-area: i23; }
.g-index24 { grid-area: i24; }